canvas {
    border: 3px solid green;
}

body {
    background-color: rgb(0, 128, 0);
}

a {
    background-color: rgb(36, 210, 65);
    text-align: center;
    width: 370px;
    font-size: 34px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fantasy;
}

button {
    background-color: rgb(36, 210, 65);
    text-align: center;
    width: 370px;
    font-size: 34px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fantasy;
}

.mainText {
    color: black;
    font-size: 65px;
    font-style: normal;
    font-family: fantasy;
    position: absolute;
    top: 30px;
    left: 600px;
    text-shadow: 1px 1px 0 rgb(36, 210, 65),
        -1px 1px 0 rgb(36, 210, 65),
        1px -1px 0 rgb(36, 210, 65),
        -1px -1px 0 rgb(36, 210, 65),
        0px 1px 0 rgb(36, 210, 65),
        0px -1px 0 rgb(36, 210, 65),
        -1px 0px 0 rgb(36, 210, 65),
        1px 0px 0 rgb(36, 210, 65),
        2px 2px 0 rgb(36, 210, 65),
        -2px 2px 0 rgb(36, 210, 65),
        2px -2px 0 rgb(36, 210, 65),
        -2px -2px 0 rgb(36, 210, 65),
        0px 2px 0 rgb(36, 210, 65),
        0px -2px 0 rgb(36, 210, 65),
        -2px 0px 0 rgb(36, 210, 65),
        2px 0px 0 rgb(36, 210, 65),
        1px 2px 0 rgb(36, 210, 65),
        -1px 2px 0 rgb(36, 210, 65),
        1px -2px 0 rgb(36, 210, 65),
        -1px -2px 0 rgb(36, 210, 65),
        2px 1px 0 rgb(36, 210, 65),
        -2px 1px 0 rgb(36, 210, 65),
        2px -1px 0 rgb(36, 210, 65),
        -2px -1px 0 rgb(36, 210, 65);
}

.secondaryText {
    height: 350px;
    width: 550px;
    border-style: solid;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    background-color: rgb(36, 210, 65);
    font-size: 36px;
    font-style: normal;
    font-family: fantasy;
    position: absolute;
    top: 220px;
    left: 180px;
}